# Custom Ignores
.vscode/
analogs/
build/assemblies/*
build/executables/*
build/interfaces/*
build/libraries/*
build/maps/*
build/logs/*
build/objects/*
documentation/restricted/
rubbish/
test/yury/
asn1

# General D Ignores
*.o
*.obj
*.so
*.dylib
*.dll
*.a
*.lib
*.exe
.dub
docs.json
__dummy.html
docs/
*.lst
*.def
*.log

# You should recommend *.def and *.log for GitHub's gitignore repo...

# Mac OS Ignores
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore PDFs so I don't infringe on intellectual property
*.pdf