<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSMinimumSystemVersion</key>
	<string>10.0.0</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2018 (C) Jonathan M. Wilbur, MIT License</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.0</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIconFile</key>
	<string>ASN.1-Tools.icns</string>
	<key>CFBundleGetInfoString</key>
	<string>2.4.0, Copyright 2018 Jonathan M. Wilbur</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleName</key>
	<string>ASN.1 Tools</string>
	<key>CFBundleDisplayName</key>
	<string>ASN.1 Tools</string>
	<key>CFBundleIdentifier</key>
	<string>space.wilbur.ASN.1-Tools</string>
	<key>CFBundleVersion</key>
	<string>2.4.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>asn1</string>
	<key>CFBundleExecutable</key>
	<string>encode-der</string>
</dict>
</plist>
